/* HEADLINES - BRAND - TEXT STYLE - SOCIAL MEDIA ICONS */
body {

    background-color: lightslategrey !important;
}

nav .brand-text, h1, h3, .nav-item, .nav-link {
    font-size: 35px !important;
    font-family: 'Bebas Neue' !important;
    color: #FFFFFF !important;
}

p {    
    font-family: 'Montserrat' !important;
    color: #FFFFFF !important;
    background-color:  #222831;

}

.social-footer-content {
    font-size: 25px;
    color: #FFFFFF;
}

/* NAVIGATION BAR STYLE AND BOX SHADOW */

/* NAVBAR STYLE */

.navcolor , .navbar-collapse, .nav-link, .footer-main, .article-box {
    background-color: #222831;
}

/* NAVBAR SHADOW AND HAMBURGER STYLE */

.navbar {
    box-shadow: 0px 8px 8px black;
}

nav .nav-link .nav-item
.navbar-toggler {
    font-size: 0px !important;
    border: 1px solid#FFFFFF;
    background-color: rgb(190, 255, 255) !important;
}

/* UNDERLINE NAVLINK FUNCTIONALITY */
.nav-item:hover .nav-underline, .nav-item:hover .nav-underline2, .nav-item:hover .nav-underline3, .nav-item:hover .nav-underline4  {  
    
    transform: scale(25, 1);
    background-color: #FFFFFF;  
}

.nav-underline, .nav-underline2, .nav-underline3, .nav-underline4 {
    height: 1px;
    width: 1px;
    align-self: center;
    background-color: #222831;
    transition-timing-function: ease-in;
    transition-duration: 1s;

}

.nav-item , .nav-link {
    transition: 1s;
    transition-timing-function: ease-in;
    margin-bottom: -2px;   
}

/* COLLAPSE NAV FUNCTIONALITY */
@media only screen and (max-width: 991px) {
    .nav-item:hover .nav-underline, .nav-item:hover .nav-underline2, .nav-item:hover .nav-underline3, .nav-item:hover .nav-underline4 {
        background-color: #FFFFFF;
        transform: scale(50 , 1);
    }
    .nav-link {
        width: auto;
    }
    .navbar-nav {
        align-items: center;
        background-color: unset;
    }
}



/* MAIN BODY CONTAINERS AND BOX SHADOWS */

/* MAIN ARTICLE SECTIONS AND ARTICLES */

.article-box {
    box-shadow: 0px 0px 15px 5px black;
    margin: 25px;
}

.main-section {
    position: relative;
    margin: 120px;
}

.main-box {
    background-color: #30475e;
    box-shadow: 0px 0px 10px 10px black;
}

/* FOOTER SHADOW */

.footer-main-box {
    box-shadow: 0px -8px 8px 0px black;
}









