* {
    background-color: #e8e8e8 ;
}

/* NAVBAR STYLE */

.navcolor , .navbar-collapse, .nav-link{
    background-color: #222831;
}

/*BRAND NAME STYLE*/

nav .brand-text {
    font-size: 35px !important;
    font-family: 'Bebas Neue' !important;
    color: #FFFFFF !important;
    transition: 1s;
}

.brand-text:hover , {
    text-shadow: 4px 0px #55585C;
}

/*NAV LINKS AND COLLAPSED ITEMS */

nav .nav-link .nav-item
.navbar-toggler {
    font-size: 0px !important;
    border: 1px solid#FFFFFF;
    background-color: rgb(190, 255, 255) !important;
}

.nav-item , .nav-link {
    font-family: 'Bebas Neue' !important;
    font-size: 30px;
    color: #FFFFFF !important;
    transition: 2s;
    transition-timing-function: ease-in;
    margin-bottom: -2px;   
}

.nav-underline, .nav-underline2, .nav-underline3, .nav-underline4 {
    height: 1px;
    width: 1px;
    align-self: center;
    background-color: #222831;
    transition-timing-function: ease-in;
    transition-duration: 1s;

}

.nav-item:hover .nav-underline, .nav-item:hover .nav-underline2, .nav-item:hover .nav-underline3, .nav-item:hover .nav-underline4  {  
    
    transform: scale(25, 1);
    background-color: #FFFFFF;  
}
/* COLLAPSE NAV FUNCTIONALITY */
@media only screen and (max-width: 991px) {
    .nav-item:hover .nav-underline, .nav-item:hover .nav-underline2, .nav-item:hover .nav-underline3, .nav-item:hover .nav-underline4 {
        background-color: #FFFFFF;
        transform: scale(50 , 1);
    }
    .nav-link {
        width: auto;
    }
    .navbar-nav {
        align-items: center;
        background-color: unset;
    }
}
