$font-color: #fff
$box-background: #000000
$small: 300px
$med: 300px
body
    background-color: $box-background !important
    h1
        font-family: Monoton !important
        font-size: 135px
    #aboutme
        height: auto
        width: 500px
    .container-fluid
        background-color: $box-background !important
    .card
        background-color: $box-background !important
    .hide
        display: none
    .carousel-inner
        height: 100%
    h3
        color: white
    p
        color: white

        
        
        