$font-color: #fff
$box-background: #000000
$small: 300px
$med: 300px

body
    border: none
    h3
        font-family: VT323 !important
        color: #87ee95
    h4
        font-family: VT323 !important
        color: #87ee95
    ul
        list-style: none
        padding-inline-start: 10px
    li
        list-style: none
    a:hover 
        color: #87ee95
        text-decoration: underline
    .fab
        color: #6af583
        font-size: 1.5rem !important
    #text-content
        border: 4px dashed #88ee95
        width: 310px
        font-family: VT323 !important
    .cardstyle
        border: 4px dashed #88ee95
        width: 310px
        background-color: black
        font-family: VT323 !important
        height: fit-content
    .card-header
        padding: 0px
        border-bottom: 2px dashed #88ee95
        background-color: #4c4c4c
    .card-body
        padding: 0px
        background-color:#2b2b2b
    .btn
        font-size: 2.5rem !important
        text-align: left !important
        padding: 0px !important
    #aboutme
        height: auto
        width: 500px
    p
        color: white
        margin: 0px
        text-align: justify
    #projectbtn
        cursor: pointer
    #portfoliocontent
        margin-top: 20px !important


        
        
        